html {
	font-size: 12px;
}

p {
	font-size: 16px;
	margin-left: 1%;
	margin-top: 1%;
}

li { 
    margin-bottom: 1%;
}


.jumbotron {
    background-size: 100%;
    height: 425px;
    width: 100%;
    overflow: hidden;
    background-image: url('../images/newspaper.png');
    background-position: center;
    background-repeat: no-repeat;
   
}

#bodyinput {
    width: 50%;
}

#savenote {
    display: block;
}

.panel-primary {
    height: 135px;
}

.panel-heading.row {
    width: 100%;
    margin-left: 0%;
}

@media screen and (max-width: 640px) {
	
}